@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

html{
    text-align: center;
    letter-spacing: 2px;
}

body {
    margin: 10px auto;
    padding: 20px;
    opacity: 0.9

}
p{
  font-size: 14;
  letter-spacing: 2px;
  line-height: 1.9em;
}
h4{
  font-size: 16;
  letter-spacing: 2px;
}
nav{
  padding: 10px;
  overflow: hidden;
  background: linear-gradient(201deg, #483D8B 28%, #FFF0F5 58%);
  opacity: 0.9;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    margin: 20px auto;
}
nav ul li, footer ul li {
    display: inline;
    font-size: 13pt;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #778899;
}
a:hover {
      text-decoration: underline;
}
h1 {
    font-size: 3em;
    letter-spacing: 2px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h3 {
  letter-spacing: 2px;
  font-size: 2em;
  line-height: 1em;
  color: #483D8B;

}
.subheading{
    font-size: 1.5em;
    line-height: 1em;
    color: #333;
    letter-spacing: 2px;
}

footer {
    border-top: 2px solid #483D8B;
    font-size: .8em;

}

ul.posts {
    margin: 20px auto ;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/***************************           display Design Image             *******************************/

* {
  box-sizing: border-box;
}

.row{
}

.row > .column {
  text-align: center;
  justify-content: center;
  padding: 0 6px;
}

.row:after {
  content: "";
  display: flex;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

#image{
  padding: 10px;
  justify-content: center;
  text-align: center;
  background-color: #FFF0F5;
}
/***************************           display Project Image             *******************************/

.row1{
}

.row1 > .column1 {
  text-align: center;
  justify-content: center;
  padding: 0 6px;
}

.row1:after {
  content: "";
  display: flex;
  clear: both;
}

.column1 {
  float: left;
  width: 36%;
}

/***************************           Contact            *******************************/
.body{
  width: 100%;
}

.left{
  padding: 20px;
  width: 40%;
  background-color:  #FFF0F5 ;
}
input{
  padding: 5px;
}
.right{
  padding: 55px;
  line-height: 1.8em;
  width: 59%;
  color: #FFF0F5 ;
  background-color: #483D8B;
  text-align: left;
}
#heart{
  background-color: #FFF0F5 ;
  width: 100px;
  height: 100px;
  border: none;
  outline:none;
  background-image: url('/static/img/heart.png');
}

.sub-b{
  margin: 3px;
}
.note{
  font-size: 13pt;
  font-weight: 50;
  background-color: #6495ED;
  color: #DCDCDC;
  padding: 5px;
  text-align: left;
  width: 100%;
  letter-spacing: 2px;
}

.insta{
  width:30px;
  height:30px;

}

.linked{
  width:30px;
  height:30px;
}
