body {
    margin: 10px auto;
    padding: 20px;
    opacity: 0.9
}
nav{
  padding: 10px;
  overflow: hidden;
  background: linear-gradient(201deg, #483D8B 28%, #FFF0F5 58%);
  opacity: 0.9;
  padding-bottom: 5px;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    margin: 20px auto;
}
nav ul li, footer ul li {
    display: inline;
    font-size: 13pt;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #778899;
}
a:hover {
      text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h3 {
  font-size: 2em;
  line-height: 1em;

}
.subheading{
    font-size: 1.5em;
    line-height: 1em;
    color: #333;
}


footer {
    border-top: 2px solid #483D8B;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto ;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
