html,
body {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  background: #fff;
}

#canvas {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#text {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
}
#text {
  min-height: 100vh;
  width: 100vw;
  z-index: 1;
  color: black;
  text-transform: uppercase;
  font-size: 8vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#text h1 {
	opacity: 0.9
}
