<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jennifer Yang</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"
  </head>
  <body>
  		<nav>
          <h1 >Jennifer Yang</h1>
      		<ul>
            <li><a href="/">Home</a></li>
            <li><a href="/templates/design.html">Design</a></li>
            <li><a href="/templates/project.html">Project</a></li>
            <li><a href="/templates/blog.html">Blog</a></li>
            <li><a href="/templates/about.html">About</a></li>
            <li><a href="/templates/contact.html">Connect</a></li>
      		</ul>
  		</nav>
  		<div class="container">
      		<div class="blurb">
            <h3>About</h3>

      		</div><!-- /.blurb -->
          <p class="subheading">Hello,</p>
          <p>
          When giving a problem, I spend many hours trying to come up with possible solutions. <br>
          I get absorb into my work, I lose track of time. <br>
          I love to see how my creations come together. <br>
          </p>
          <canvas id="myACanvas" style="  background-color: #FFF0F5 " width="500"></canvas>
          <p>
          I'm Jennifer, a student at San Jose State University studying software engineering.
          I am interested in web/mobile development. However, I am exploring the different paths I could take with my degree.
          I am looking for opportunities to develop my skills. <br>
          Everyone has valuable experiences and stories. I enjoy engaging with different people.
          I learn something new when I talk to others.
          If you want to connect with me, please leave a message in Connect!

          </p>



  		</div><!-- /.container -->
      <script src="/static/js/index.js"></script>

  	</body>
    <br>
    <footer>

    </footer>
  </html>
