<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jennifer Yang</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css"
  </head>
  <body>
  		<nav>
          <h1>Jennifer Yang</h1>
      		<ul>
          		<li><a href="/">Home</a></li>
  	        	<li><a href="/templates/design.html">Design</a></li>
          		<li><a href="/templates/project.html">Project</a></li>
          		<li><a href="/templates/blog.html">Blog</a></li>
              <li><a href="/templates/about.html">About</a></li>
              <li><a href="/templates/about.html">Contact</a></li>
      		</ul>
  		</nav>
  		<div class="container">
      		<div class="blurb">
            <h3>About</h3>
  				<p class="subheading">Still in Development</p>
      		</div><!-- /.blurb -->
  		</div><!-- /.container -->
  		<footer>

  		</footer>
  	</body>
  </html>
