<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jennifer Yang</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css"
  </head>
  <body>
    <nav>
      <h1 >Jennifer Yang</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/templates/design.html">Design</a></li>
            <li><a href="/templates/project.html">Project</a></li>
            <li><a href="/templates/blog.html">Blog</a></li>
            <li><a href="/templates/about.html">About</a></li>
            <li><a href="/templates/contact.html">Connect</a></li>
        </ul>
    </nav>
  		<div class="container">
      		<div class="blurb">
            <h3>Designs</h3>

      		</div><!-- /.blurb -->

<!-- /.blurb -->
          <section id=image>
          <div class="row">
            <div class="column">
              <img src="/static/img/157A_d.png" style="width:100%" >
              <img src="/static/img/LunarNewYear.png" style="width:100%" >
              <img src="/static/img/164.png" style="width:100%" >
              <img src="/static/img/mvc.png" style="width:100%" >

            </div>
            <div class="column">
              <img src="/static/img/Project_21.jpg" style="width:100%" >
              <img src="/static/img/Controller.png" style="width:100%" >
              <img src="/static/img/logo.png" style="width:100%" >
              <img src="/static/img/TG.png" style="width:100%" >
              <img src="/static/img/131.png" style="width:100%" >


            </div>
            <div class="column">
              <img src="/static/img/switch.png" style="width:100%" >
              <img src="/static/img/lo.png" style="width:100%" >
              <img src="/static/img/clock.png" style="width:100%" >
              <img src="/static/img/Assist.png" style="width:100%" >


            </div>
            <div class="column">
              <img src="/static/img/circle.png" style="width:100%" >
              <img src="/static/img/game.png" style="width:100%" >
              <img src="/static/img/post.jpg" style="width:100%" >
              <img src="/static/img/maze.png" style="width:100%" >
            </div>
          </div>
        </section>
  		</div><!-- /.container -->
      <br>
  		<footer>

  		</footer>
  	</body>
  </html>
