<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jennifer Yang</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css"
  </head>
  <body>
  		<nav>
      		<ul>
          		<li><a href="/">Home</a></li>
  	        	<li><a href="/about">About</a></li>
          		<li><a href="/cv">CV</a></li>
          		<li><a href="/blog">Blog</a></li>
      		</ul>
  		</nav>
  		<div class="container">
      		<div class="blurb">
          		<h1>Jennifer Yang</h1>
  				<p>Still in Development</p>
      		</div><!-- /.blurb -->
  		</div><!-- /.container -->
  		<footer>
      		<ul>
          		<li><a href="mailto:jennifury25@gmail.com">email</a></li>
  			</ul>
  		</footer>
  	</body>
  </html>
