<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jennifer Yang</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <script src="/static/js/index.js" charset="utf-8"></script>
  </head>
  <body>
  		<nav>
          <h1>Jennifer Yang</h1>
      		<ul>
          		<li><a href="/">Home</a></li>
  	        	<li><a href="/templates/design.html">Design</a></li>
          		<li><a href="/templates/project.html">Project</a></li>
              <li><a href="/templates/about.html">About</a></li>
              <li><a href="/templates/about.html">Contact</a></li>
      		</ul>
  		</nav>
  		<div class="container">
      		<div class="blurb">
            <h3>Projects</h3>

      		</div><!-- /.blurb -->

          <section id=image>

            <table style="width: 100%">
              <tr style="height:100px">
                <td style="width:25%"><img src="/static/img/157a.png" style="width:100%" ></td>
                <td style="width:25%"><img src="/static/img/157a2.png" style="width:100%" ></td>
                <td style=" white-space:nowrap"><h4><u>SJSU Student Bookstore</u></h4>
                  <p>Built with HTML, CSS, Javascript, and MySQL</p>
                  <p>Group Proj: An online bookstore and database management system.</p>
                  <p> Worked on Front-end and Back-end Coding</p>
                </td>
              </tr>
            </table>

            <table style="width: 100%">
              <tr style="height:100px">
                <td style=" white-space:nowrap"><h4><u>Calendar</u></h4>
                  <p>Built with Java</p>
                  <p>Group Proj: A calendar that displays events accordingly to view type.</p>
                  <p> Worked on Back-end Coding</p>
                </td>
                <td style="width:25%"><img src="/static/img/cal1.png" style="width:100%" ></td>
                <td style="width:25%"><img src="/static/img/cal2.png" style="width:100%" ></td>
              </tr>
            </table>

            <table style="width: 100%">
              <tr style="height:100px">
                <td style="width:25%"><img src="/static/img/TG.png" style="width:100%" ></td>
                <td style="width:25%"><img src="/static/img/TG1.png" style="width:100%" ></td>
                <td style=" white-space:nowrap"><h4><u>True Gift</u></h4>
                  <p>Built with HTML, CSS, Javascript, Python, and Google App Engine</p>
                  <p>Group Proj: An online donation site.</p>
                  <p> Worked on Front-end and Back-end Coding</p>
                </td>
              </tr>
            </table>

            <table style="width: 100%">
              <tr style="height:100px"><td style=" white-space:nowrap"><h4><u> Maze Challenge </u></h4>
                <p>Built with Java</p>
                <p>Group Proj: A game where user win once the exit is found witin 15 moves.</p>
                <p> Worked on View part in MVC</p>
              </td>
                <td style="width:25%"><img src="/static/img/maze.png" style="width:100%" ></td>
                <td style="width:25%"><img src="/static/img/maze1.png" style="width:100%" ></td>
              </tr>
            </table>

            <table style="width: 100%">
              <tr style="height:100px">
                <td style="width:25%"><img src="/static/img/game.png" style="width:100%" ></td>
                <td style="width:25%"><img src="/static/img/game1.png" style="width:100%" ></td>
                <td style=" white-space:nowrap"><h4> <u>Concentration Game App</u></h4>
                  <p>Built with Swift</p>
                  <p>A matching game with point system. Each wrong match decrements the score.</p>
                </td>
              </tr>
            </table>

            <table style="width: 100%">
              <tr style="height:100px"><td style=" white-space:nowrap"><h4><u>Analog Clock</u></h4>
                <p>Built with Java</p>
                <p>An analog clock that runs on real time. Second hands ticks accordingly.</p>
              </td>
                <td style="width:25%"><img src="/static/img/clock.png" style="width:100%" ></td>
                <td style="width:25%"><img src="/static/img/clock2.png" style="width:100%" ></td>
              </tr>
            </table>

            <table style="width: 100%">
              <tr style="height:100px">
                <td style="width:25%"><img src="/static/img/131.png" style="width:100%" ></td>
                <td style="width:25%"><img src="/static/img/131a.gif" style="width:100%" ></td>
                <td style=" white-space:nowrap"><h4><u>Spartan Club</u></h4>
                  <p>Built with HTML, Javascript, CSS</p>
                  <p>Group Proj: A collection of SJSU organizations. Each organization has its own page.</p>
                  <p> Worked on SJSU organization page</p>
                </td>
              </tr>
            </table>

        </section>

  		</div><!-- /.container -->
      <br>
      <footer>

  		</footer>
  	</body>
  </html>
