<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<link rel="stylesheet" type="text/css" href="constellation.css" />
		<script src="/static/js/index.js"></script>
	</head>
	<body>
		<canvas id="canvas"></canvas>
		<div class="container particle">
			<!--<div class="content">-->
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<!--<h1 class="main-title">Connect <span class="thin">Three</span></h1>-->
				</div>
			<!--</div> /content -->
		</div><!-- /container -->
		<script src="/static/js/index.js"></script>
	</body>
</html>
